# editorconfig.org
# 大小写不敏感
# 如果没有指定，就会使用编辑器的规定

# 注释，一般单独一行
# 告诉IDE这就是最上层的editorconfig文件，不会再继续向上查找
root = true

# 通配符，告诉下面的规则应用所有的文件，可以指定扩展名
[*]

# 指定编码格式，不要指定为utf-8-bom格式，这会导致跨平台时出现问题
charset = utf-8

# 设置缩进
indent_size = 4
indent_style = space

# 可以设置成tab，因为tab在不同的编辑器中显示不同
# indent_size = tab
# tab_width = 1

#代表每一个文件以一个空白行结尾，如果是false就不以空白行结尾
insert_style_newline = true

#代表会去除换行行首的任意空白字符
trim_trailing_whitespace = true

[*.md]
#不去除空白行
trim_trailing_whitespace = false

